<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Mongo Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/saved" id="saved">Saved articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/scrape" id="scrape">Scrape new Articles</a>
            </li>
          </ul>
        </div>
      </nav>

	<div class="container">
    

    <div class= "jumbotron jumbotron-fluid" style="text-align: center">
      <h1><span class="glyphicon glyphicon-fire"></span> Mongo Scraper</h1>
      <hr>
      <p>New York Times Edition</p>
      
    </div>

    <div class="col-md-12">
      {{#if article}}
        {{#each article}}
         <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{this.title}}</h4>
                    </div>
                    <div class="panel-body">
                        <p> {{this.summary}}</p>
                        <a href={{this.link}} target="_blank">{{this.link}}</a>
                        <br><br>
                        <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add a Note</button>
                        <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>
                    </div>
                </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>